doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        form(action="/", method="post") 
            div 
                label(for="id") Id: 
                input(type="text", name="id")
            br
            div
                label(for="name") Nombre: 
                input(type="text", name="name")
            br
            div
                label(for="quantity") Cantidad 
                input(type="text", name="quantity")
            br
            div
                button(type="submit") Save  